<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>brooder page editor</title>
        <script src="${httpPath}assets/brooder.core.js" type="text/javascript"></script>
        <script src="${httpPath}assets/packets/contenter/override.js" type="text/javascript"></script>
        <script>
            $().ready(function(){
                window.basePath="${httpPath}";
                $("body").Boot({basePath: "${httpPath}assets/packets/"},"contenter.option.root.root");
            });
        </script>
    </head>
    <body style="overflow: hidden;">
    </body>
</html>
